@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Application.Dto.PostDtos.IndexPostDto>
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            @if (Model != null && Model.Any())
            {
                foreach(var p in Model) {
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href=@Url.Action("Detail", "Post", new {id = p.Id})>
                            <h2 class="post-title" >@p.Title</h2>
                        </a>
                        <p class="post-meta">
                            Posted @p.CreatedDate.ToString("MM/dd/yyyy h:mm:ss tt")
                            <p>@p.Summary</p>
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                }
            }
        </div>
    </div>
</div>

